.container {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 1rem;
	background-color: #393e41;
	color: #fff;
	height: 100vh;
}

.info h2 {
	text-align: center;
	text-transform: uppercase;
	font-size: 3rem;
	margin-bottom: 2rem;
}

.info p {
	margin-bottom: 2rem;
}

.me {
	width: 100%;
}

@media (min-width: 768px) {
	.container {
		flex-direction: row;
	}
	.container .me {
		max-width: 500rem;
	}

	.info {
		padding: 8rem;
	}
}
